{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block stylesheets %}
  <!-- Page Css for accueil -->
  {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}

    <p>function utilisé dans le router {{ function_name }}!</p>


{% endblock %}
